<h1>Добро пожаловать в Meadowlark Travel</h1>
Затем для страницы О..., views/about.handlebars:
<h1>О Meadowlark Travel</h1>
Затем для страницы Не найдено, views/404.handlebars:
<h1>404 — Не найдено</h1>
И наконец, для страницы Ошибка сервера, views/500.handlebars:
<h1>500 - Server Error</h1>
